
/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

a {
  color: inherit;
}

html, body {    /* Allow percentage-based heights in the application */
  height: 100%;
}

img, picture, video, canvas, svg {    /* Improve media defaults */
  display: block;
  max-width: 100%;
}

input, button {   /* Remove built-in form typography styles */
  font: inherit;
}

/* general styling */

main {
  height: 100vh;
}

.flex_grp,
.flex_column{
  display: flex;
}

.flex_column{
  flex-direction: column;
}

/* fonts */

@font-face {
  font-family: "Norse";
  src: url(./fonts/Norse-Bold.otf) format(opentype);
}

/* img container styling */

.img_container {
  position: relative;
  width: 40%;
}

.main_img {
  height: 100%;
  width: 100%;
}

.logo_container {
  position: absolute;
  top: 22.5%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.odin_logo {
  height: 100%;
}

.logo_container p{
  font-size: 5rem;
  color: white;
  font-family: "Norse" ,sans-serif;
}

.credit {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
  color: white;
}

/* form section styling */

.form_section {
  position: relative;
  background-color: #f1f5f9;
  width: 60%;
  font-family: 'Courier New', Courier, monospace;
}

.form_description {
  padding-top: 10rem;
  padding-left: 3rem;
  max-width: 70ch;
  margin-bottom: 3rem;
  letter-spacing: -1px;
}

.form_description,
.form_legend {
  font-weight: 700;
  font-size: 1.25rem;
}

.form_description p:nth-child(2){
  margin-bottom: 1rem;
}

.form_container {
  position: relative;
  background-color: white;
  padding: 3rem;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  gap: 1rem;
}

.form_legend {
  position: absolute;
  top: 7.5%;
}

.form_row {
  gap: 5rem;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.form_container .form_row:nth-child(-n+2) {
  padding-top: 1rem;
}

.form_row input {
  border: 1px solid #E5E7EB;
  outline: none;
  height: 1.5rem;
  width: 200px;
  border-radius: .25rem;
}

.form_row input:focus{
  border: 1px solid blue;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.form_row input:invalid{
  border: 1px solid red;
}

.btn {
  cursor: pointer;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: .5rem;
  background-color: #596D48;
  padding: .75rem 3rem;
  color: white;
  font-weight: 700;
}

.btn:hover{
  background-color: #16a34a;
}

.log_in {
  margin-left: 3rem;
  font-weight: 700;
  font-size: .875rem;
}

.log_in_link {
  text-decoration: none;
  color: #596D48;
}

.log_in_link:hover {
  color: #16a34a;
}

.creator_credit {
  position: absolute;
  bottom: 1%;
  left: 50%;
  font-size: .75rem;
}